<div class="Wrapper">
    <h1>Sign Up</h1>
    <form th:method="post"
          th:action="@{/user/register/save}"
          th:object="${user}" enctype="multipart/form-data">
        <div class="Text-Field">
            <input type="text" th:field="*{fullName}" required>
            <label>Full Name</label>
        </div>
        <div class="Text-Field">
            <input type="text" th:field="*{email}" required>
            <label>Email</label>
        </div>
        <div class="Text-Field">
            <input type="number" th:field="*{mobileNo}" required>
            <label>Phone Number</label>
        </div>
        <div class="Text-Field">
            <input type="password" th:field="*{password}" required>
            <label>Create Password</label>
        </div>
        <div class="Text-Field">
            <input type="password" required>
            <label>Confirm Password</label>
        </div>
        <div class="submit">
            <button type="submit">Submit</button>
        </div>
    </form>
    <div class="Login_link">
        Already have an account?<a th:href="@{~/user/login}">Login</a>
    </div>
</div>