<body style="background-color: blanchedalmond;">
<div style="text-align: center; ">

    <form th:action="@{/register}" method="post" id="RegisterForm">
        <div class="jumbotron text-center">
            <h1 class="display-4">Register Your Account</h1>
        </div>

        <div class="form-input" style="margin: 10px 0;">
            <input type="username" name="username" class="form-control" placeholder="Enter your Fullname" required autofocus/>
        </div>

        <div class="form-input" style="margin: 10px 0;">
            <input type="email" name="email" class="form-control" placeholder="Enter your E-mail" required autofocus/>
        </div>

        <div class="form-input" style="margin: 10px 0;">
            <input type="number" name="number" class="form-control" placeholder="Mobile Number" required autofocus/>
        </div>
        <div class="form-input" style="margin: 10px 0;">
            <input type="password" name="password" class="form-control" placeholder="Password" required autofocus/>
        </div>
        <div class="button-section" style="margin: 10px 0;">
            <button type="submit" form="RegisterForm" style="background-color: bisque">Sign Up </button>
        </div>

        <div class="button-section" >
            <label>Already Have an Account? </label>
            <a th:href="@{/login}" class="signin">Sign In</a>

        </div>
    </form>
</div>