<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    <link rel="stylesheet" th:href="@{~/css/style.css}">

    <!--bootstrap links-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--bootstrap links-->
    <!-- font links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <!--font links-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" >
    <!-- icon links -->

</head>
<body>
<div class="all-content">
    <!-- navbar start -->


    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" id="logo">
                <img th:src="@{/image/logo.jpg}" src="static/image/logo.jpg" width="150" height="150" class="d-inline-block align-top" alt=""/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa-solid fa-bars" style="color: white; font-size: 23px;"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/user/userHome}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/user/userHome/menu}" class="nav-link active">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/user/userHome/contact}" class="nav-link active">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{~/login}" class="nav-link active" >Login/Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- home section starts -->
    <div class="row" style="display: flex; align-self: center;
         flex-wrap: wrap;
         justify-content: space-around;">
    <section id="home">

        <div class="row content">
            <div class=" card-deck container-fluid d-flex  flex-wrap justify-content-start align-items-center"  >
                <div class="card" style="width: 18rem; margin-right: 4px" th:each="product: ${products}">
                    <div class="card-body" >
                        <h5 class="card-title" th:text="${product.Name}"></h5>
                        <p class="card-text" th:text="${product.Preview}"></p>
                        <img class="card-text" th:src="${product.imageUrl}" width="100" height="100"></img>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>


    </section>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
